<div class="container_warning" *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)">
  <small *ngIf="form.get('title')?.errors?.['required']">El título es requerido</small>
  <small *ngIf="form.get('title')?.errors?.['maxlength']">El máximo de caracteres es de 10</small>
</div>

<form class="container_input" [formGroup]="form" (ngSubmit)="sendTaskTitle()">
  <input type="text" placeholder="Ingresar tarea" formControlName="title" />
  <textarea placeholder="Ingresar descripción" formControlName="description"></textarea>
  <button type="submit" [disabled]="!form.valid">Enviar</button>
</form>
