.add_button {
  position: absolute;
  right: 40px;
  bottom: 40px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #2979AA;
  color: white;
  cursor: pointer;
}

.tabs {
  width: auto;
  height: auto;
  padding: 10px;
  position: absolute;
  left: 10px;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.tabs a {
  text-decoration: none;
  color: gray;
}

.tabs .active {
  color: white;
}
